<div
  class="card w-96 bg-base-300 shadow-xl mx-auto flex py-3 my-4 columns-2"
  *ngFor="let article of articles"
>
  <figure>
    <img *ngFor="let item of randomImages()" [src]="item" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ article.author }}</h2>
    <p>
      {{ article.title }} <br />
      {{ article.publishedAt }}
    </p>
    <div class="card-actions justify-end">
      <button (click)="goToNews(article.url)" class="btn btn-primary">
        Habere Git
      </button>
    </div>
  </div>
</div>
