<p>
  <mat-toolbar class="footerContainer" color="">
    <mat-toolbar-row>
      <span>OnlyNews</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Atahan Güne Hakları Saklıdır</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button "
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="deneme()" mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
